<%- include("../layout/header"); %>

<h1 class="text-center mt-3">Dashboard</h1>
<div class="row mt-3">
  <div class="col-sm-3">
    <ul class="list-group">
      <li class="list-group-item">
        <a href="/admin/dashboard/user">User management</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-9"></div>
</div>

<%- include("../layout/footer"); %>
